@import "bootstrap-sprockets";
@import "bootstrap";
@import "constructions";

.navbar {
   background: #F4A460;
}

#navbar_links {
   color: white;
   font-size: 18px;
}

#navbar_links:hover {
   font-size: 30px;
   color: black;
}

#navbar_links:focus {
   background-color: DimGrey;
}


